
body {
    background-image: url('https://img2.rtve.es/i/?w=1600&i=1611913347958.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilos para la capa modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FFB347;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para las imágenes de perro y gato */
.animal-image {
    width: 200px;
    height: auto;
}

/* Estilos para las letras comunes (p y li) */
p, li {
    font-size: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

/* Estilos para los títulos h2 y h3 */
h2, h3 {
    font-size: 28px;
    background-color: #573030;
    padding: 3px;
    border-radius: 3px;
    display: inline;
    margin-right: 10px;
}

/* Estilos para mover la imagen y el texto "Tu compañero te está esperando" más abajo */
.section h2 {
    margin-bottom: 20px;
}